node_modules/
.DS_Store
.DS_Store?
.secret
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
contracts/Ethereum/build/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.secret
