<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
			    <meta http-equiv="X-UA-Compatible" content="IE=edge">
			    <meta name="viewport" content="width=device-width, initial-scale=1">
				<link href="stylesheets/toastr.min.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<h1>An Advertisement Board</h1>
			<!-- <button onclick="getbtn()">get</button> -->
		</div>
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
      <script type="text/javascript" src="/javascripts/axios.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
	  <script type="text/javascript" src="/javascripts/toastr.min.js"></script>
	 <script type="text/javascript">
	 	// function getbtn(){
	 	// 	axios.get("/api/v1/getAllAdBoardData",{}).then(function(res){
	 	// 		console.log(res.data)
	 	// 	})
	 	// }
	 </script>
	</body>
</html>




